In [1]:
"""

Write a program to reverse a string.

"""

'\n\nWrite a program to reverse a string.\n\n'

In [4]:
New_String = input("Enter the string")
Reverse_String = New_String[::-1]
print("The reverse string is " , Reverse_String)

Enter the string Amit Bahedia

The reverse string is  aidehaB timA

In [5]:
"""

Check if a string is a palindrome.

"""

'\n\nCheck if a string is a palindrome.\n\n'

In [9]:
str1 = input("Enter the string")
Rev_String = str1[::-1]
if str1 == Rev_String:
    print("String is a palindrome")
else :
    print("Sring is not palindrome")

Enter the string madam

String is a palindrome

In [10]:
"""

Convert a string to uppercase.

"""

'\n\nConvert a string to uppercase.\n\n'

In [14]:
str2 = input("Enter the string")
Upper_Str = str2.upper()
print("String in uppercase is ",  Upper_Str)

Enter the string amit bahedia

String in uppercase is  AMIT BAHEDIA

In [16]:
"""

Convert a string to lowercase.

"""

'\n\nConvert a string to lowercase.\n\n'

In [15]:
str3 = input("Enter the string")
Lower_Str = str3.lower()
print("String in lowercase is ",  Lower_Str)

Enter the string AMIT BAHEDIA

String in lowercase is  amit bahedia

In [17]:
"""

Count the number of vowels in a string.

"""

'\n\nCount the number of vowels in a string.\n\n'

In [23]:
str4 = input("Eneter the String")
print(str4)
Vowels_count = str4.count("A") + str4.count("a") + str4.count("E") + str4.count("e") + str4.count("I") + str4.count("i") + str4.count("O") + str4.count("o") + str4.count("U") + str4.count("u")
print("the total number of vowels are " , Vowels_count)

Eneter the String Amit

Amit
the total number of vowels are  2

In [24]:
"""
Count the number of consonants in a string.
"""

'\nCount the number of consonants in a string.\n'

In [13]:
Vowels_Count = 0
Cons_Count = 0
Vowels = "aeiouAEIOU"
New_Str = input("Enter the string")
for i in New_Str:
    if i in Vowels:
        Vowels_Count = Vowels_Count + 1
    else:
        Cons_Count = Cons_Count + 1

print("the no of Vowels" , Vowels_Count)
print("The no of Consonents", Cons_Count)

Enter the string aat

the no of Vowels 2
The no of Consonents 1

In [25]:
"""
Remove all whitespaces from a string.

"""

'\nRemove all whitespaces from a string.\n\n'

In [2]:
# replace methos is used to remove all whitespaces from a string

str5 = input("Enter the string")
new_str = str5.replace(" ", "")
new_str

Enter the string a m i t

'amit'

In [3]:
# Find the length of a string without using the `len()` function.

In [3]:
Count = 0
str6 = input("Enter the string")
for i in str6:
    Count = Count+1
print("The Length of the string is", Count)

Enter the string amit bahedia

The Length of the string is 12

In [4]:
## Check if a string contains a specific word.

In [10]:
input_string = input("Enter the string")
specific_word = input("Enter the specific word to check")

if specific_word in input_string:
    print("the word is available")
else:
    print("The word is not available")

Enter the string Navina Nikshit
Enter the specific word to check Nikshit

the word is available

In [11]:
## Replace a word in a string with another word

In [3]:
New_string = "Amit Bahedia"
Str_Rep = New_string.replace("Amit", "Niksit")
print("the updated string is", Str_Rep)

the updated string is Niksit Bahedia

In [5]:
## Count the occurrences of a word in a string.

In [31]:
Word_count = 0
str5 = input("Enter the string")
Specific_Word = input("Enter the specific word to be search")
Words = str5.split() 
for i in Words:
    if i == Specific_Word:
        Word_count = Word_count + 1
print("The number appearences of this word are", Word_count)

Enter the string amit navina navina navina
Enter the specific word to be search navina

The number appearences of this word are 3

In [32]:
## Find the first occurrence of a word in a string.

In [45]:
str6 = input("Enter the string").split() ## to split words of str in list
Word = input("Enter the word to be serach for")
if Word in str6:
    ind = str6.index(Word) ## return the index of first occurrence of a word in a string
print(ind)

Enter the string navina amit amit
Enter the word to be serach for amit

1

In [46]:
## Find the last occurrence of a word in a string

In [9]:
str7 = input("Enter the string")
Word = input("Enter the word to be serach for")
last_index = str7.rindex(Word)
print(last_index)

Enter the string I am great am I
Enter the word to be serach for am

11

In [10]:
## Split a string into a list of words.

In [11]:
str8 = input("Enter the string")
List_Words = str8.split()
print(List_Words)

Enter the string Amit Bahedia

['Amit', 'Bahedia']

In [12]:
## Join a list of words into a string

In [25]:
l1 = ["Amit", "Bahedia"]
New_List = ' '.join(l1) ## to convert list into string 
str9 = "is a good boy"
New_Str1 = New_List + " " + str9
print(New_Str1)

Amit Bahedia is a good boy

In [26]:
""" Convert a string where words are separated by spaces to one where words
are separated by underscores"""

' Convert a string where words are separated by spaces to one where words\nare separated by underscores'

In [34]:
str10 = input("Enter the string where word are seperated by spaces")
Str_Underscore = str10.replace(" ", "_")
print("The stringw where word are seperated by Underscore", Str_Underscore)

Enter the string where word are seperated by spaces He is a  great man

The stringw where word are seperated by Underscore He_is_a__great_man

In [35]:
## Check if a string starts with a specific word or phrase

In [3]:
str11 = input("Enter the string")
Start_word  = input("Enter the staring word")
str11.startswith(Start_word)

Enter the string I am fine
Enter the staring word Amit

False

In [4]:
##Check if a string ends with a specific word or phrase.

In [7]:
str12 = input("Enter the string")
End_word = input("Enter the ending word")
str12.endswith(End_word)

Enter the string I am great
Enter the ending word great

True

In [1]:
##Convert a string to title case (e.g., "hello world" to "Hello World").

In [3]:
str13 = input("Enter the string")
Str_Title = str13.title() ## to convert the string into title case
Str_Title

Enter the string hello world

'Hello World'

In [4]:
## Find the longest word in a string

In [28]:
str14 = input("Enter the string")
Words = str14.split()
Longest_Word = max(Words, key = len) ## to calculate 
print("the longest word in string is ", Longest_Word)

Enter the string I am fine

the longest word in string is  fine

In [24]:
## Find the shortest word in a string

In [31]:
str15 = input("Enter the string").split()
Shortest_word = min(str15, key = len)
print("the shortest word in string is", Shortest_word)

Enter the string bahedia amit

the shortest word in string is amit

In [32]:
## Reverse the order of words in a string

In [43]:
str16 = input("enter the string")
Words = str16.split() ## split the string into list of words
Rev_words = list(reversed(Words)) ## reversing wortds in a list
" ".join(Rev_words) ## join function joins elements of a sequence and makes it a string.

enter the string I am fine

'fine am I'

In [44]:
## Check if a string is alphanumeric

In [56]:
str17 = input("Enter the string")
str17.isalnum()

Enter the string Amit14 is 32 years old

False

In [57]:
## Extract all digits from a string

In [1]:
str18 = input("Enter the string")
for i in str18:
    if i.isdigit():
        print(i)

Enter the string amit123

1
2
3

In [2]:
## Extract all alphabets from a string.

In [7]:
str19 = input("Enter the string")
for alpha in str19:
    if alpha.isalpha():
        print(alpha, end = "")

Enter the string amitbahedia

amitbahedia

In [8]:
## Count the number of uppercase letters in a string

In [17]:
count = 0
str20 = input("Enter the string")
for j in str20:
    if j.isupper():
        count = count + 1
print("The total number of uppercare Characters in string are", count)

Enter the string AmitBAHEDIA

The total number of uppercare Characters in string are 8

In [18]:
## Count the number of lowercase letters in a string.

In [22]:
count = 0
str21 = input("Enter the string")
for j in str21:
    if j.islower():
        count = count + 1
print("The total number of lowercase Characters in string are", count)

Enter the string Amit

The total number of lowercase Characters in string are 3

In [23]:
##  Swap the case of each character in a string.

In [20]:
str22 = input("Enter the string")
print("the entered string is ", str22)
for i in str22:
    if i.isupper():
        print(i.lower(), end = "")
    elif i.islower():
        print(i.upper(), end = "")

Enter the string AMITBAHEDIA

the entered string is  AMITBAHEDIA
amitbahedia

In [21]:
#Using Swapcase method to Swap the case of each character in a string.

In [22]:
str23 = input("Enter the string")
str23.swapcase()

Enter the string AMIT BAHEDIA

'amit bahedia'

In [23]:
## Remove a specific word from a string.

In [30]:
str24 = input("Enter the string").split()
Word = input("Enter the word to be removed")
if Word in str24:
    str24.remove(Word)
    print(" ".join(str24))
else:
    print("word is not present in string")

Enter the string Amit Bahedia
Enter the word to be removed Navina

word is not present in string

In [1]:
## Check if a string is a valid email address

In [8]:
import re ## regular expression module 
pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$' # Regular Expression for Pattern
str25 = input("Enter the string")

if re.match(pattern, str25):
    print("Email address is valid")
else : 
    print("Email address is invalid")

Enter the string amit@.com

Email address is invalid

In [9]:
## Extract the username from an email address string.

In [12]:
import re ## regular expression module 
pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$' # Regular Expression for Pattern
str26 = input("Enter the string")

if re.match(pattern, str26):
    print("Email address is valid")
    username = str26.split('@')[0]
    print(username)
else : 
    print("Email address is invalid")

Enter the string amit.bahedia@gmail.com

Email address is valid
amit.bahedia

In [13]:
## Extract the domain name from an email address string

In [18]:
pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$' # Regular Expression for Pattern
str27 = input("Enter the string")

if re.match(pattern, str26):
    print("Email address is valid")
    username = str27.split('@')[-1]
    print(username)
else : 
    print("Email address is invalid")

Enter the string navinabahedia16@gmail.com

Email address is valid
gmail.com

In [19]:
## Replace multiple spaces in a string with a single space

In [28]:
str28 = input("Enter the string")
Words = str28.split() ## to splt the string into words
Single_Space_String = ' '.join(Words) ## to join the words with single spaces
Single_Space_String

Enter the string Amit     bahedia

'Amit bahedia'

In [29]:
## Check if a string is a valid URL. Concept of this one is still not covered

In [33]:
import re ## regular expression module
pattern = r"^(https?|ftp)://[^\s/$.?#].[^\s]*$" ## regular expression pattern for URL
str29 = input("Enter the string")

if re.match(pattern, str29):
    print("URL is valid")
else:
    print("URL is invalid")

Enter the string http://wwww.amit.com

URL is valid

In [34]:
## Extract the protocol (http or https) from a URL string

In [48]:
import re ## regular expression module
pattern = r"^(https?|ftp)://[^\s/$.?#].[^\s]*$" ## regular expression pattern for URL
str30 = input("Enter the string")
if re.match(pattern, str30):
    print("URL is valid")
    protocol = str30.split('://')[0]
    print("The protocol from URL is ", protocol)
else:
    print("URL is invalid")

Enter the string https://www.google.com/

URL is valid
The protocol from URL is  https

In [49]:
## Find the frequency of each character in a string

In [61]:
str31 = input("Enter the string")
freq_dict = {}
for i in str31:
    if i in freq_dict:
        freq_dict[i]+= 1
    else:
        freq_dict[i] = 1

Enter the string amit

In [67]:
def count_characters(string):
    # Initialize an empty dictionary to store character frequencies
    char_frequency = {}

    # Iterate through the string
    for i in string:
        
        if i in char_frequency:
            char_frequency[i] = char_frequency[i] + 1
        else:
            char_frequency[i] = 1
            

    return char_frequency

str31 = input("Enter the string")
result = count_characters(str31)


for i, count in result.items():
    print(f"'{i}': {count}")

Enter the string amit bahedia

'a': 3
'm': 1
'i': 2
't': 1
' ': 1
'b': 1
'h': 1
'e': 1
'd': 1

In [1]:
## Check if a string contains only digits

In [4]:
str32 = input("Enter the string")
str32.isdigit()

Enter the string 123345456

True

In [5]:
## Check if a string contains only alphabets

In [8]:
str33 = input("Enter the string")
str33.isalpha()

Enter the string amitbahedia

True

In [9]:
## Convert a string to a list of characters

In [17]:
str34 = input("Enter the string")
for i in str34.split():
    print(list(i), end = '')

Enter the string amit

['a', 'm', 'i', 't']

In [18]:
## Check if two strings are anagrams

In [11]:
first_str = input("Enter first string")
second_str = input("Enter second string")

first_str = first_str.lower()
second_str = second_str.lower()

if len(first_str) == len(second_str):
    sorted_first = sorted(first_str)
    sorted_second = sorted(second_str)
    
    if sorted_first == sorted_second:
        print("both strings are anagrams")
else:
    print("both strings are not anagrams")

Enter first string amit
Enter second string mita

both strings are anagrams

In [12]:
## Find the most frequent word in a string

In [9]:
def most_frequent_word(text):
  """
  Finds the most frequent word in the given text.

  Args:
    text: A string containing the text to be analyzed.

  Returns:
    A string containing the most frequent word in the text.
  """

  words = text.split()
  word_counts = {}
  for i in words:
    if i in word_counts:
      word_counts[i] += 1
    else:
      word_counts[i] = 1

  max_count = 0
  most_frequent_word = None
  for i, count in word_counts.items():
    if count > max_count:
      most_frequent_word = i
      max_count = count

  return most_frequent_word


# Example usage:

text = input("Enter the string")
most_frequent_word = most_frequent_word(text)
print(most_frequent_word)

Enter the string I am fine

I

In [10]:
## Find all unique words in a string

In [32]:
def unique_words(text):
    
    words = text.split() ## convert the strings into list 
    List_set = set(words) ## convert the list into set for uniqueness 
    unique_list = (list(List_set))
    String_with_unique_words = " , ".join(unique_list)
    return String_with_unique_words


Str_New = input("Enter the string")

unique_words(Str_New)

Enter the string Amit Amit Navina

'Navina , Amit'

In [33]:
## Count the number of syllables in a string

In [18]:
def count_syllables(text):
    count = 0
    vowels = "aeiou"
    for i in range(len(text)):
        if text[i] in vowels and text[i-1] not in vowels:
            count = count + 1
        if text.endswith("e"):
            count = count  - 1
        if count == 0:
            count = count + 1
    return count

In [20]:
count_syllables("elephant")

3

In [21]:
## Check if a string contains any special characters

In [32]:
New_Str = input("Enter the string")
Special_Characters  ="!@#$%^&*()-+?_=,./;'<>:"

for i in New_Str:
    if i in Special_Characters:
        print("Special Chars are present")
    else:
        print("Special Chars are not present")

Enter the string I am fine

Special Chars are not present
Special Chars are not present
Special Chars are not present
Special Chars are not present
Special Chars are not present
Special Chars are not present
Special Chars are not present
Special Chars are not present
Special Chars are not present

In [1]:
## Remove the nth word from a string.

In [10]:
text = input("Enter the string")
Word = input("Enter the word to be deleted from string")
Word_List = text.split()

if Word in Word_List:
        text = text.replace(Word, "")
        print("New String is" , text)
else:
    print("Entered word is not found in string")

Enter the string I am great
Enter the word to be deleted from string great

New String is I am

In [11]:
## Insert a word at the nth position in a string.

In [20]:
text1 = input("Enter the string")
Word1 = input("Enter the word to be added")
Pos = int(input("Enter the position where word need to be entered"))

Word_List1 = text1.split()
Word_List1.insert(Pos, Word1)

Updated_String = " ".join(Word_List1)
print("The new string is", Updated_String)

Enter the string I am a great
Enter the word to be added boy
Enter the position where word need to be entered 5

The new string is I am a great boy

In [21]:
## Convert a CSV string to a list of lists.

In [38]:
CSV_String = input("Enter the CSV string")
lines = CSV_String.split('\n')

Final_List = []

for i in lines:
    Updated_details = i.split(',')
    Final_List.append(Updated_details)
print(Final_List)

for row in Final_List:
    print(row)

Enter the CSV string "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

[['"Name', ' Age', ' Country\\nJohn', ' 25', ' USA\\nAlice', ' 30', ' Canada\\nBob', ' 22', ' UK"']]
['"Name', ' Age', ' Country\\nJohn', ' 25', ' USA\\nAlice', ' 30', ' Canada\\nBob', ' 22', ' UK"']

List Problem

In [40]:
## Create a list with integers from 1 to 10.

In [42]:
Required_list = list(range(1, 11)) ## using range function to get data from 1 tp 10
Required_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
## Find the length of a list without using the `len()` function

In [59]:
List1 = ["amit", 1, 2, 3,45,"Nikshit", 7]
Count = 0

for i in List1:
 
    Count = Count + 1

print("the length of the list is ", Count)

the length of the list is  7

In [60]:
## Append an element to the end of a list.

In [61]:
List2 = [2,3,5,6,7]
List2.append('Amit')
List2

[2, 3, 5, 6, 7, 'Amit']

In [62]:
## Insert an element at a specific index in a list.

In [65]:
List3 = [3,54,67,56,9]
n = int(input("Enter the position where element has to be inseted"))
List3.insert(n, "Amit")
List3

Enter the position where element has to be inseted 0

['Amit', 3, 54, 67, 56, 9]

In [66]:
## Remove an element from a list by its value.

In [1]:
List4 = [3,4,6,784,2,2]
List4.remove(4)
List4

[3, 6, 784, 2, 2]

In [2]:
## Remove an element from a list by its index

In [5]:
List5 = [2,4,5,6,6,7]
List5.pop(1)
List5

[2, 5, 6, 6, 7]

In [6]:
## Check if an element exists in a list.

In [35]:
def check(list,element):
    for i in list:
         if i==element:
             return True  
    return False

#initialise list
li=[9, 2, 34, 2, 5, 9, 16, "Amit"]
element= "Amit"

print("Check if",element,"is in",li)
print(check(li,element))

Check if Amit is in [9, 2, 34, 2, 5, 9, 16, 'Amit']
True

In [ ]:
## Find the index of the first occurrence of an element in a list.

In [37]:
New_List = [3,4,6,5,67,9,6]
New_List.index(6)

2

In [38]:
## Count the occurrences of an element in a list.

In [2]:
List4 = [3,4,5,6,"Amit", 474,"Nik",5]
List4.count(5)

2

In [3]:
## Reverse the order of elements in a list

In [4]:
List5 = [2,3,4,5,6,7,8]
List5.reverse()

In [5]:
List5

[8, 7, 6, 5, 4, 3, 2]

In [6]:
## Sort a list in ascending order

In [7]:
List6 = [3,3,4,5,100,6,9]
List6.sort()

In [8]:
List6

[3, 3, 4, 5, 6, 9, 100]

In [9]:
## Sort a list in descending order

In [10]:
List7 = [3,4,78,34,12,0]
List7.sort(reverse = True)

In [11]:
List7

[78, 34, 12, 4, 3, 0]

In [12]:
## Create a list of even numbers from 1 to 20

In [13]:
List = list(range(1,21))

Even_List = []

for i in List:
    if i%2 == 0:
        Even_List.append(i)
print(Even_List)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [14]:
## Create a list of odd numbers from 1 to 20

In [18]:
List8  = list(range(1,21))

Odd_List = []

for i in List8:
    if i % 2 != 0:
        Odd_List.append(i)
print(Odd_List)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [19]:
## Find the sum of all elements in a list.

In [22]:
List9 = [35,46,57,34,56,489,1000]

Sum = 0

for i in List9:
    
    Sum = Sum + i

print(Sum)

1717

In [23]:
## Find the maximum value in a list

In [24]:
List10 = [23,34,78,56,45,78,56]
max(List10)

78

In [25]:
## Find the minimum value in a list

In [26]:
List11 = [34,56,78,45,67,89]
min(List11)

34

In [27]:
## Create a list of squares of numbers from 1 to 10

In [28]:
List12 = list(range(1,11))

Squares_List = []

for i in List12:
    i = i**2
    Squares_List.append(i)
print(Squares_List)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
## Create a list of random numbers.

In [7]:
import random ## Random pacakage will be imported

random_list = []

for i in range(20):
    random_numbers = random.randint(1,100) ## randit function will be used for generation of numbers
    random_list.append(random_numbers)

print(random_list)

[55, 40, 27, 89, 36, 97, 82, 94, 68, 9, 24, 96, 42, 68, 21, 68, 95, 61, 47, 84]

In [8]:
## Remove duplicates from a list

In [9]:
List13 = [2,2,45,67,67,8,23,6,66]
List_without_duplicates = list(set(List13)) ## converting the list into set for no6t having duplicates
List_without_duplicates

[2, 67, 66, 6, 8, 45, 23]

In [10]:
## Find the common elements between two lists

In [12]:
L1 = [1,2,4,5,3,4,6,78,89]
L2 = [2,1,5,78,45,78]
Common_Elements = L1 and L2
Common_Elements

[2, 1, 5, 78, 45, 78]

In [13]:
 ## Find the difference between two lists

In [27]:
L3 = [1,2,3,4,5]
L4 = [2,4,6,8,10]
Set_Difference = set(L3).difference(set(L4)) ## converting list into set and then find out the difference
List_Difference = list(Set_Difference)
List_Difference

[1, 3, 5]

In [28]:
## Merge two lists

In [50]:
L5 = [2,3,4,5,67,56]
L6 = [7,8,9,10,11]

Merged_list = L5 + L6

Merged_list

[2, 3, 4, 5, 67, 56, 7, 8, 9, 10, 11]

In [1]:
#  Multiply all elements in a list by 2.

In [3]:
List7 = [1,2,4,4,5,6,67,9]
New_list = []

for i in List7:
    i = i * 2
    New_list.append(i)
print(New_list)

[2, 4, 8, 8, 10, 12, 134, 18]

In [4]:
# Filter out all even numbers from a list.

In [5]:
List8 = [2,4,5,7,8,23,9,8]

EvenNumberList = []

for i in List8:
    if i % 2 == 0:
        EvenNumberList.append(i)
print(EvenNumberList)

[2, 4, 8, 8]

In [6]:
#Convert a list of strings to a list of integers

In [14]:
List_of_Strings = ["1", "2", "3", "4", "5"]

List_of_Integers = []

for i in List_of_Strings:
    Intergers = int(i)
    List_of_Integers.append(Intergers)
print(List_of_Integers)

[1, 2, 3, 4, 5]

In [15]:
## Convert a list of integers to a list of strings

In [16]:
List_Of_Integers = [1,2,3,45,4]

List_Of_String = []

for i in List_Of_Integers:
    String = str(i)
    List_Of_String.append(String)
print(List_Of_String)

['1', '2', '3', '45', '4']

In [17]:
## Flatten a nested list

In [19]:
My_List = [[1], [223,4,5], [3,4,5,6]]

Flatted_list = []

for sublist in My_List:
    for i in sublist:
        Flatted_list.append(i)
print(Flatted_list)

[1, 223, 4, 5, 3, 4, 5, 6]

In [20]:
## Create a list of the first 10 Fibonacci numbers

In [45]:
Fibonacci_List = [0] ## initialize the list to zero

a, b = 0, 1

for i in range(1,10):
    a , b = b, a+b
    Fibonacci_List.append(a)
print(Fibonacci_List)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [36]:
Fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [1]:
## Check if a list is sorted.

In [43]:
def Sorted_list(list16):
    
    for i in range(len(list16)-1):
        if list16[i] > list16[i+1]:
            return False
    return True

list16 = [1,2,3,4,5]

In [44]:
Sorted_list(list16)

True

In [45]:
## Create a list of prime numbers up to 50

In [1]:
primes = []
for i in range(2, 51):
    for j in range(2, int(i**0.5) + 1):
        if i % j == 0:
            break
    else:
        primes.append(i)

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [2]:
## Split a list into chunks of size `n`.

In [7]:
list19 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Chunk_size = int(input("Enter the chunk size"))

Chunk = [list19[i:i+1]  for i in range(0, len(list19), Chunk_size)]
print(Chunk)

Enter the chunk size 3

[[1], [4], [7], [10]]

In [8]:
## Find the second largest number in a list

In [2]:
list20 = [1,2,3,4,54,5,5,50
         ]
Sorted_list = sorted(list20)
print("The second largest element in list is ", Sorted_list[-2])

The second largest element in list is  50

In [3]:
## Replace every element in a list with its square

In [4]:
list21 = [23,4,5,2,67,78]
Squared_list = []
for i in list21:
    Squared_list.append(i**2)
print(Squared_list)

[529, 16, 25, 4, 4489, 6084]

In [6]:
## Convert a list to a dictionary where list elements become keys and their
##indices become values.

In [20]:
List22 = ["Amit", 5, 2, 3,4]

Dict = {j:i for i, j in enumerate(List22)} ## By using enumerate function, to access both the index and the value of an item in an iterable.


Dict

{'Amit': 0, 5: 1, 2: 2, 3: 3, 4: 4}

In [21]:
## Shuffle the elements of a list randomly

In [27]:
import random ## Need to import random function
List23 = [23,45,56,12,4,56]
Shuffled_List = random.sample(List23, len(List23)) ## The random.sample() function returns a shuffled list of a specified size.
Shuffled_List

[23, 56, 45, 12, 4, 56]

In [28]:
## 39. Create a list of the first 10 factorial numbers.

In [5]:
Factorial_Num_List = []
fact = 1
for i in range(1,11):
    fact = fact * i
    Factorial_Num_List.append(fact)
Factorial_Num_List

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [6]:
## Check if two lists have at least one element in common.

In [28]:
L1 = [1,2,3,4,5,6]
L2 = [7,8,9,10,11,12]

set1 = set(L1) ## Coverting thr list into sets to get common value
set2 = set(L2)

if set1.intersection(set2): ## intersection function is used to find common ellemnts
    print("Elements are common")
else:
    print("Elements are not common")

Elements are not common

In [29]:
## Remove all elements from a list.

In [30]:
L3 = [3,3,5,4,5]
L3.clear()

In [31]:
L3

[]

In [32]:
## Replace negative numbers in a list with 0

In [73]:
L4 = [1,-3,34,-5,34]

Updated_List =  [0 if i < 0 else i for i in L4] ## Using List Comprehension

Updated_List

[1, 0, 34, 0, 34]

In [74]:
## Convert a string into a list of words.

In [77]:
New_Str = "I am good".split() ## Using Split function

In [76]:
New_Str

['I', 'am', 'good']

In [78]:
## Convert a list of words into a string.

In [4]:
New_List = ["Amit", "is", "a", "good", "boy"]
Final_Str = " ".join(New_List) ## Join  funtion will be used to do the same
Final_Str

'Amit is a good boy'

In [5]:
## Create a list of the first `n` powers of 2.

In [8]:
Initial_List = list(range(1,11))
Final_List = [i**2 for i in Initial_List]
Final_List

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
## Find the longest string in a list of strings

In [34]:
List_of_strings = ["Amit", "Nikshit", "Amit Junior"]

Longest_Str = max(List_of_strings, key = len) ## max function is used and give len as the key

Longest_Str

'Amit Junior'

In [35]:
## Find the shortest string in a list of strings

In [36]:
List_Str = ["Amit", "Nikshit", "Amit Junior"]

Shortest_Str = min(List_Str, key = len)

Shortest_Str

'Amit'

In [37]:
## Create a list of the first `n` triangular numbers

In [9]:
Numbers = int(input("Enter the triangular numbers for which you want to create list"))

triangular_numbers_list = []

for i in range(1, Numbers + 1):
    triangular_numbers_list.append(i * (i+1)//2)
triangular_numbers_list

Enter the triangular numbers for which you want to create list 10

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [10]:
## Check if a list contains another list as a subsequence

In [3]:
Main_List = [1,2,3, [12,34,45,67], "Amit"]
Subset_List = [4,5,6,7,8]

print("Main list is", Main_List)
print("Subset_list is", Subset_List)

flag = 0

## All() function is used to Check for all the elements of one list for existence in other lists. 

if (all(i in Main_List for i in Subset_List)): ## 
    flag = 1

if (flag):
    print("Yes, list is subset of other.")
else:
    print("No, list is not subset of other.")

Main list is [1, 2, 3, [12, 34, 45, 67], 'Amit']
Subset_list is [4, 5, 6, 7, 8]
No, list is not subset of other.

In [4]:
## Swap two elements in a list by their indices

In [17]:
def Swap_elements(List, index1, index2):
    temp = List[index1]
    List[index1] = List[index2]
    List[index2] = temp
    return List

    
Swap_elements([12,2,3,4], 1, 2)

[12, 3, 2, 4]

In [18]:
## Tuple Practise

In [19]:
## Create a tuple with integers from 1 to 5.

In [27]:
New_tuple = tuple(range(1,6))
New_tuple

(1, 2, 3, 4, 5)

In [28]:
## Access the third element of a tuple

In [29]:
New_Tuple1 = (1,2,3,4,5,7)
New_Tuple1[2]

3

In [30]:
## Find the length of a tuple without using the `len()` function.

In [32]:
New_Tuple2 = (2,3,34,56,78,34,45)
Count = 0
for i in New_Tuple2:
    Count = Count + 1
print(Count)

7

In [33]:
## Count the occurrences of an element in a tuple

In [38]:
New_tuple = (23,45,6,6,7,7,7,8)
Input_Element = int(input("Enter the element to be counted"))

Count = 0

for i in New_tuple:
    if i == Input_Element:
        
        Count = Count + 1
print("The count of an element is ", Count)

Enter the element to be counted 7

The count of an element is  3

In [39]:
## Find the index of the first occurrence of an element in a tuple.

In [54]:
New_tuple1 = (1,2,3,3,45,45,67,78)
element = int(input("Enter the element whose index has to be searched for"))

for i in New_tuple1:
    if i == element:
        First_Occurance_index = New_tuple1.index(i)
First_Occurance_index

Enter the element whose index has to be searched for 3

2

In [55]:
## Check if an element exists in a tuple

In [72]:
New_tuple2 = (12,34,5,6,67)
element = float(input("Enter the element whose index has to be searched for"))
if element in New_tuple2:
    print("element is present in tuple")
else:
    print("Element is not present in tuple")

Enter the element whose index has to be searched for 10

Element is not present in tuple

In [73]:
## Convert a tuple to a list

In [74]:
New_tuple3 = (23,45,6,77,34)
New_List = list(New_tuple3)
New_List

[23, 45, 6, 77, 34]

In [1]:
## Convert a list to a tuple.

In [3]:
New_List = [23,4,4,56,78]
New_Tuple4 = tuple(New_List)
New_Tuple4

(23, 4, 4, 56, 78)

In [4]:
## Unpack the elements of a tuple into variables

In [7]:
fruits = ("apple", "banana", "orange")
fruit1, fruit2, fruit3 = fruits
print(fruit1)
print(fruit2)
print(fruit3)

apple
banana
orange

In [8]:
## Create a tuple of even numbers from 1 to 10

In [12]:
Tuple11 = tuple(range(1,11))

New_list = [] ## empty list where even elements are added

for i in Tuple11:
    if i % 2 == 0:
        New_list.append(i)
        
New_Tuple = tuple(New_list)

New_Tuple

(2, 4, 6, 8, 10)

In [13]:
## Create a tuple of odd numbers from 1 to 10.

In [15]:
Tuple11 = tuple(range(1,11))

New_list = [] ## empty list where even elements are added

for i in Tuple11:
    if i % 2 != 0:
        New_list.append(i)
        
New_Tuple = tuple(New_list)

New_Tuple

(1, 3, 5, 7, 9)

In [16]:
## Concatenate two tuples

In [17]:
t1 = (2,3,45,5,67)
t2 = (34,23,56,78)

New_Tuple = t1 + t2
New_Tuple

(2, 3, 45, 5, 67, 34, 23, 56, 78)

In [18]:
## Repeat a tuple three times

In [23]:
t3 = (2,3,4,45,6,7)
t3*3

(2, 3, 4, 45, 6, 7, 2, 3, 4, 45, 6, 7, 2, 3, 4, 45, 6, 7)

In [24]:
## Check if a tuple is empty

In [3]:
t3 = (1,2,3)
Length = len(t3)

if Length == 0:
    print("tuple is empty")
else:
    print("tuple is not empty")

tuple is not empty

In [4]:
## Create a nested tuple

In [5]:
data = (("Amit", "data science", "python"), ("Nik", "Data Science", "R"))

In [6]:
data

(('Amit', 'data science', 'python'), ('Nik', 'Data Science', 'R'))

In [9]:
## Access the first element of a nested tuple

In [11]:
data = (("Amit", "data science", "python"), ("Nik", "Data Science", "R"))
data[0]

('Amit', 'data science', 'python')

In [12]:
## Create a tuple with a single element

In [13]:
t4 = (1)

In [14]:
t4

1

In [15]:
## Compare two tuples

In [18]:
t5 = (12,45,3,5,6)
t6 = (2,3,54,3,4)

if len(t5) == len(t6):
    print("both tuples are of equal size")
else:
    print("Tuples are of unequal size")

both tuples are of equal size

In [19]:
## Delete a tuple

In [24]:
t7 = (2,3,4,4)

del t7

In [26]:
## Slice a tuple

In [31]:
t8 = (23,45,56)
t8[1:3]

(45, 56)

In [32]:
## Find the maximum value in a tuple

In [33]:
t9 = (33,34,566)
max(t9)

566

In [34]:
## Find the minimum value in a tuple

In [35]:
t9 = (33,34,566)
min(t9)

33

In [36]:
## Convert a string to a tuple of characters

In [38]:
String_Input = input("Enter the string")
print("The entered string is ", String_Input)
New_Tuple = tuple(String_Input)
print("The New Tuple is", New_Tuple)

Enter the string Amit Bahedia

The entered string is  Amit Bahedia
The New Tuple is ('A', 'm', 'i', 't', ' ', 'B', 'a', 'h', 'e', 'd', 'i', 'a')

In [39]:
## Convert a tuple of characters to a string

In [51]:
Tuple_input = ('I', 'am', 'fine')

res = ' '.join(Tuple_input)

Final_String = str(res)
Final_String

'I am fine'

In [52]:
##Create a tuple from multiple data types.

In [53]:
Mutiple_Data_Tuple = ('Amit bahedia', 33, 'Research Analyst', 5.7, True)

In [54]:
Mutiple_Data_Tuple

('Amit bahedia', 33, 'Research Analyst', 5.7, True)

In [55]:
## Check if two tuples are identical

In [57]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3,3,4)

if tuple1 == tuple2:
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuples are not identical

In [58]:
## Sort the elements of a tuple.

In [63]:
tuple3 = (23,1,23,56,12,23)
Converted_List = list(tuple3)
Converted_List.sort(reverse = True) ## sorting in desending oder
Sorted_Tuple = tuple(Converted_List)
Sorted_Tuple

(56, 23, 23, 23, 12, 1)

In [64]:
## Convert a tuple of integers to a tuple of strings

In [71]:
tuple4 = (1,2,3,34)
res = " ".join(str(i))
print(tuple(res))

('1',)
('2',)
('3',)
('3', ' ', '4')

In [77]:
First_Five = tuple(range(1,6))
First_Five

(1, 2, 3, 4, 5)

In [78]:
## Create a tuple of the first 5 prime numbers

In [79]:
Prime_tuple = []
for i in range(2, 6):
   

    else:
        Prime_tuple.append(i)

print(tuple(Prime_tuple))

(2, 3, 5)

In [80]:
## Check if a tuple is a palindrome

In [84]:
Tuple = (1,2,1)

Reverse_Tuple = Tuple[::-1]
Reverse_Tuple

if Reverse_Tuple == Tuple :
    print("tuple is a palindrome")
else:
    print("tuple is not palindrone")

tuple is a palindrome

In [85]:
## Create a tuple of squares of numbers from 1 to 5.

In [4]:
Tuple6 = tuple(range(1,6))

listnew = []

for i in Tuple6:
    listnew.append(i**2)
print("The tuple of squares of numbers from 1 to 5 is", tuple(listnew))

The tuple of squares of numbers from 1 to 5 are (1, 4, 9, 16, 25)

In [5]:
## Filter out all even numbers from a tuple.

In [6]:
Tuple7 = (12,23,67,45,46)

for i in Tuple7:
    if i % 2 == 0:
        print(i)

12
46

In [7]:
## Multiply all elements in a tuple by 2.

In [11]:
Tuple7 = (12,23,67,45,46)
Listnew2 = []

for i in Tuple7:
    Listnew2.append(i*2)
print("New elements is tuple are", tuple(Listnew2))

New elements is tuple are (24, 46, 134, 90, 92)

In [12]:
## Create a tuple of random numbers

In [19]:
import random ## random package will be imported

Tuple8 = tuple(random.randint(1,100) for _ in range(1,10)) ## placeholder variable is used withih loop
print(Tuple8)

(96, 65, 34, 25, 65, 44, 70, 1, 10)

In [20]:
## Check if a tuple is sorted

In [16]:
Tuple8 = (12,23,45,67,89)

New_Tuple = tuple(sorted(Tuple8))

print(New_Tuple)

if Tuple8 == New_Tuple:
    print("Array is sorted")
else:
    print("Array is not sorted")

(12, 23, 45, 67, 89)
Array is sorted

In [17]:
## Rotate a tuple to the left by `n` positions

In [1]:
def rotate_tuple_left(tup, n):
    
    
    n = n % len(tup)
    return tup[n:] + tup[:n]

tup = (1,2,34,5,5)
rotate_tuple_left(tup, 2)

(34, 5, 5, 1, 2)

In [2]:
## Rotate a tuple to the right by `n` positions

In [9]:
def rotate_tuple_right(tup, n):
    
    n = n % len(tup)
    return tup[-n:] + tup[:-n]

tup = (1,2,2,45)

rotate_tuple_right(tup, 2)

(2, 45, 1, 2)

In [10]:
## Create a tuple of the first 5 Fibonacci numbers.

In [17]:
Fibonacci_list = [0] ## list is created with one element as zero

a, b = 0, 1

for i in range(1,5):
    a, b = b , a+b
    Fibonacci_list.append(a)

print(tuple(Fibonacci_list)) ## Converted the fibonacci list into tuple

(0, 1, 1, 2, 3)

In [16]:
## Create a tuple from user input

In [22]:
User_Input = input("Enter the User Input")

print("the input string is ", Input_String)

res = "".join(Input_String )

Final_Tuple = tuple(res)

print(Final_Tuple)

Enter the string 123456

the input string is  123456
('1', '2', '3', '4', '5', '6')

In [1]:
## Creae a tuple of the first `n` powers of 2

In [3]:
Tuple_power = tuple(i**2 for i in range(1,11))
Tuple_power

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [4]:
## Find the shortest string in a tuple of strings

In [5]:
tup = ("Amit", "bahedia", "Nikshit")

Shortest_String = min(tup, key = len)

Shortest_String

'Amit'

In [6]:
## Find the longest string in a tuple of strings

In [7]:
tup = ("Amit", "bahedia", "Nikshit")

Shortest_String = max(tup, key = len)

Shortest_String

'bahedia'

In [8]:
## Create a tuple of the first `n` triangular numbers

In [2]:
num = int(input("Enter the triangular number till which tuple will created"))

Temporary_List = []

for i in range(1, num + 1):
    Temporary_List.append(i*(i+1)//2)
print(tuple(Temporary_List)) ## converting the list into tuple

Enter the triangular number till which tuple will created 8

(1, 3, 6, 10, 15, 21, 28, 36)

In [ ]:
## Check if a tuple contains another tuple as a subsequence

In [5]:
Main_Tuple = (1,2,3, (4,5,6), (7,8,9))

Subset_Tuple = (10,11,12)

flag = 0

if(all(i in Main_Tuple for i in Subset_Tuple)):
    
    flag = 1

if(flag):
    print("Tuple contains tuple as a subsequence")
else:
    print("Tuple does not contains tuple as a subsequence")

Tuple does not contains tuple as a subsequence

In [6]:
## Create a tuple of alternating 1s and 0s of length `n`.

In [18]:
n = int(input("Enter the number till which we vant to create tuple"))
Final_Tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))
Final_Tuple

Enter the number till which we vant to create tuple 12

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0)